@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.front, .back{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front{
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}

.back{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.card.flip-card{
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
}